<div class="center hero-unit">
   <h2>Welcome, this is the home page for all of my code</>core projects</h2>
</div>

<div class="well">
  <h3><i class="fa fa-book fa-2x"></i>Project Database Application</h3>
  <p>This assignment was developed to utilize:</p>
  <ul>
    <li> Active Record Concepts </li>
    <li> Database Concepts </li>
    <li> Model View Controller Concepts (MVC) </li>
    <li> Using Session[:id]/Concepts </li>
    <li> Projects has_many Tasks </li>
    <li> Utilize Ruby Gems </li>
    <li> Bootsrap </li>

   </ul> 

    <%= link_to 'Launch App', projects_path, class: "btn btn-primary" %>
  </p>
</div>


</div>