<div class="center hero-unit">
   <h2>Welcome, this is the home page for all of my code<i class="fa fa-code"></i>core projects</h2>
</div>

<div class="well">
  <h3><i class="fa fa-book fa-2x"></i>Project Database Application</h3>
  <p>This assignment was developed to utilize:</p>
  <ul>
    <li> Active Record Concepts </li>
    <li> Database Concepts </li>
    <li> Model View Controller Concepts (MVC) </li>
    <li> Using Session[:id]/Concepts </li>
    <li> Projects/Tasks has_many relationships  </li>
    <li> Utilize Ruby Gems </li>
    <li> Bootstrap </li>
   </ul> 
    <%= link_to 'Launch App', projects_path, class: "btn btn-primary" %>
  </p>
</div>

<div class="well">
  <h3><i class="fa fa-book fa-2x"></i>Static Comic App</h3>
  <p>This assignment was developed to utilize:</p>
  <ul>
    <li> Awesome Fonts </li>
    <li> Linking Pages </li>
    <li> Image Sources </li>
    <li> CSS Styling </li>
   </ul> 
    <%= link_to 'Launch App', comic_path, class: "btn btn-primary" %>
  </p>
</div>


