<br>
<body background-color = "#CCDFEE">
<h1><font color="gray"> Komicrazy</font> <font color="yellow"><i class="fa fa-puzzle-piece fa-3x fa-spin"></i></h1></font>

<div align="center">
<a href="#"><i class="fa fa-chevron-circle-left fa-3x"></i></a>
<a href="/comic/1"><i class="fa fa-chevron-circle-right fa-3x"></i></a>
</div>

<div align="center" class="comic-section">
<%= image_tag('01.png', height: '250',width: '250') %>
<%= image_tag('02.png', height: '250',width: '250') %>
<%= image_tag('03.png', height: '250',width: '250') %>
<%= image_tag('04.png', height: '250',width: '250') %>
</div>

<div align="center" class="nav-arrows">
<a href="#"><i class="fa fa-chevron-circle-left fa-3x"></i></a>
<a href="/comic/1"><i class="fa fa-chevron-circle-right fa-3x"></i></a>
</div></body>