/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* universal */
#nav_ul li{
  display: inline-block;
}

.fa:hover {color: red;}

 .top-right-icons {
   /* width: 100%;
    background-color: #3b5c8a;*/
    text-align: right;
    float:right;
}

.top-right-icons i{
    margin-right:10px;
    color: #b1c7e5;
  }

#log-off-green i{
  color: #90ff00;
}

#log-in-red i{
  color:red;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

