// Place all the styles related to the comic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #CCDFEE;
}
.comic-section {
  background: #fff;
  margin:1%;
  box-shadow: -8px 8px 15px #444;
  padding: 1%;
}